{% extends "base.html"%}

{% block title %}  Admin Product {%endblock%}

{% block content %}


<a href="/admin/product/add" class="btn">Add Product</a>
{% if products | length == 0 %}
<p>Prodcuts Not Found</p>

{% else %}



<table class="cart-table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td><img src="{{product.image_url}}" width="80"></td>
        <td>{{product.name}}</td>
        <td>₹{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td class="actions-cell">
    <div class="action-buttons">
        <a href="/admin/product/edit/{{ product.id }}" class="btn btn-small">
            Edit
        </a>

        <form action="/admin/product/delete/{{ product.id }}"
              method="post"
              class="inline-form">
            <button type="submit" class="btn btn-small" id="cs">
                Remove
            </button>
        </form>
    </div>
</td>

    </tr>
    {%endfor%}
    </tbody>
</table>
{%endif%}
{%endblock%}